body
{
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

p
{
    margin: 0px;
}

.content-container
{
    background-color: #23475b;
    color: white;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
}

.content
{
    display: grid;
    grid-template-columns: 70px 1fr 320px;
    gap: 10px;
    grid-template-areas: "badge title form"
                          ". description form"
                          ". countdown form";
}

.title-container
{
    grid-area: title;
    display: flex;    
}

.title
{
    font-size: 2em;
    font-weight: 400;
    margin: 0px;
    display: flex;
    align-items: center;
}

.badge-container
{
    grid-area: badge;
    display: flex;
    align-items: center;
}


.figure-badge
{
    margin: 0px;
}

.badge
{
    max-width: 70px;
}

.paragraph-container
{
    grid-area: description;
}

.form
{
    grid-area: form;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.5em;
    text-align: center;
    border-radius: 5px;
}

.form p
{
    font-size: 20px;
    color: #3a3b3f;
    margin-bottom: 1em;
}

.form input
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #dbdbe2;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form button
{
    background-color: #98ca3f;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #6d932d;
    display: inline-block;
}

.countdown-container
{
    grid-area: countdown;
}

.countdown-container p
{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

.countdown-container p span
{
    font-size: 33px;
}

.countdown-container p span::after
{
    content: ":";
    display: inline-block;
    margin: 0px 5px;
}

.countdown-container p span:last-child::after
{
    display: none;
    /*content: "";*/
}

@media screen and (max-width: 768px)
{
    .content
    {
    grid-template-columns: 70px 1fr;
    grid-template-areas: "badge title"
                          "description description"
                          "form form"
                          "countdown countdown";
    }
}